<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    
    <script src="~/Scripts/lib/require-2.1.20.min.js"></script>
    <script src="~/Scripts/app/require.config.js"></script>
    
    <script>
        require.config({            
           baseUrl: '/Scripts' 
        });

        define('config', {
            apiUrl: '@Request.Url.GetLeftPart(UriPartial.Authority)/api/'
        });
    </script>
</head>
    <body>
        <div>
            <h1>Super Awesome Demo Website</h1>

            @RenderBody()
        </div>
    </body>
</html>
