@model TodoApp.Web.Models.MessageBoardModel

<div id="message-board">
    <p>Writing as <input data-bind="value: name" /></p>

    <label>New Message</label>
    
    <textarea data-bind="value: message, valueUpdate: 'input'"></textarea>

    <p data-bind="visible: charactersToGo() <= 0 && charactersRemaining() >= 0">You have <span data-bind="text: charactersRemaining()"></span> characters remaining.</p>

    <p data-bind="visible: charactersToGo() > 0">You have <span data-bind="text: charactersToGo()"></span> characters to go.</p>

    <p data-bind="visible: charactersRemaining() < 0">Your message is too long (<span data-bind="text: -charactersRemaining()"></span> characters too many)</p>
    
    <p data-bind="text: getRemainingText()"></p>
    
    <button data-bind="click: addMessage, enable: charactersToGo() <= 0 && charactersRemaining() >= 0">Add Message</button>
    
    <hr/>
    
    <p data-bind="visible: isLoading()">Loading...</p>
    
    <p data-bind="visible: !isLoading() && messages().length == 0">There are no messages, be the first!</p>
    
    <div data-bind="foreach: messages, visible: messages().length > 0">
        <div class="message">
            <blockquote data-bind="text: message"></blockquote>
            <span data-bind="text: name"></span> <button data-bind="click: $parent.removeMessage, enable: !isBeingDeleted()">Delete</button>
        </div>
    </div>
</div>

<script>
    // <![CDATA[

    require(['knockout', 'app/MessageBoardViewModel', 'jquery'], function (ko, messageBoardViewModel, $) {
        $(function() {
            ko.applyBindings(new messageBoardViewModel(@Model.Id), document.getElementById('message-board'));
        });
    });

    // ]]>
</script>